<div class="flex flex-col gap-8">
  <div class="flex flex-col gap-2">
    <p class="text-lg">Created Decks</p>
    <div class="grid grid-cols-4 gap-4">
      @if (decks.length > 0) {
        @for (deck of decks; track deck.id) {
          <decks-manager-grid-item [deck]="deck"/>
        }
      }
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <p class="text-lg">Liked Decks</p>
    <div class="grid grid-cols-4 gap-4">
      @if (decks.length > 0) {
        @for (deck of decks; track deck.id) {
          <decks-manager-grid-item [deck]="deck"/>
        }
      }
    </div>
  </div>

</div>
